extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/')
     i(class="fas fa-arrow-circle-left")  Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        //- Name
        h1 Admir Bajric
        //- Title 
        p.lead.text-light
          | Full Stack JavaScript Developer
        //- Elevator pitch
        .portfolio-bio
          p
            | Hello, I am a new developer who loves challenges and is constantly interested in new things. 
            | The last year I have been dedicated to learning and to change my life. 
            | I am a student at Team Treehouse’s Full Stack JavaScript Techdegree program.
            | If you have any questions please contact me.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        //- Skills
        ul
          li HTML
          li CSS
          li SASS
          li Javascript
          li Node.js
          li Express
          li Git
          li Visual Studio Code
          li React
          li API
        h6 Contact Info
        //- Contact info
        ul
          li 066-785-922
          li admir.bajric.dev@gmail.com
        //- Social media accounts
        a.button.expanded(href='https://www.linkedin.com/in/admir-bajric-253b231ab/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/AdmirBajric', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/AdmirBajric2', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') 
     i(class="fas fa-arrow-circle-left")  Back
  